!!!5
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    if productPage 
      meta( property="og:title", content="#{title} - #{store}" )
      meta(property="og:type", content="#{type}")
      meta(property="og:url", content="http://srluis.com/?o=product&q=#{id}")
      meta( property="og:image", content="#{img}")
      meta(property="og:site_name", content="SrLuis")
      meta(property="fb:admins", content="390325411063913")
    title SrLuis.com
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/bootstrap.min.css')    
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Muli:300,400')
    link(rel='stylesheet', href='http://know-owl.com/img/srluis/style.css')
    link(rel='stylesheet', href='css/jquery.mCustomScrollbar.css')
    script(src='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    #fb-root
    script(src='js/fb.js')
    .navbar
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#')          
          .nav-collapse.collapse
            ul.nav
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  .settings
                    i.icon-user.icon-white                              
                ul.dropdown-menu
                  li
                    a(href='#') Mi cuenta                  
                  if user.store 
                    li.divider
                    li
                      a(href='/store/order') Mi tienda                  
                  li.divider
                  li
                    a(href='/logout') Cerrar sesión
          form   
            .searchIcon
              i.icon-search.icon-white
            input.search.span8(type="text",name="search",autocomplete="off", placeholder="Haz click aqui para buscar", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Haz click aqui para buscar'")      
          .cart
            i.icon-shopping-cart.icon-white   
            span.cartText  Lista de Pedido            
    #cartList
      .cartGuide
    #cartTotal
    .searchList
      ul.category
        li
          a(href="#")
            img(src="http://know-owl.com/img/srluis/food.jpg")
            label
              | Comida
        li 
          a(href="#")
            img(src="http://know-owl.com/img/srluis/liquor.jpg")
            label
              | Licores
        li
          a(href="#")
            img(src="http://know-owl.com/img/srluis/transport.jpg")
            label
              | Transporte
        li 
          a(href="#")
            img(src="http://know-owl.com/img/srluis/pharmacy.jpg")
            label
              | Farmacia        
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          img(src="", alt="") 
    .row
      .loading.span2.offset5
      .results.span12
      if productPage
        .productPage.span12
          .product-box
            a.product
              .product-inner                
                p.Store
                  | #{store}
                input.Store_id(type="hidden", value="#{store_id}") 
                input.Sku(type="hidden", value="#{sku}") 
                img(src="#{img}")
                p.Name
                  | #{title} 
                p.Peek
                  | #{peek} 
                span.Likes
                  .fb-like(data-href="http://srluis.com/?o=product&q=#{id}", data-send="false", data-layout="button_count", data-width="115",data-show-faces="false")
                span.Price Bs. 
                  span.PriceNumber #{price}

    

         

          

    #myModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
        h3 Opciones del producto  
      .modal-body
        h6 Descripcion:
        p.modal-peek  Relleno de anguila, cangrejo y queso crema con tope de masago y lluvia de camarones tempurizados con salsa de mostaza miel.
        ul.nav.nav-tabs#myTab          
          li.active
            a(href="#agregar") Agregale
          li
            a(href="#cambiar") Cambiale 
          li
            a(href="#quitar") Quitale
        .tab-content                   
          .tab-pane#agregar.active 
          .tab-pane#cambiar
          .tab-pane#quitar 
      .modal-footer
        a(href="#", class="btn", data-dismiss="modal", aria-hidden="true") Cancelar
        a#addToCart(href="#", class="btn btn-primary ", data-dismiss="modal", aria-hidden="true") Agregar a la lista de pedidos >>
   

    footer
    
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='http://code.jquery.com/ui/1.10.0/jquery-ui.js')
    script
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\\/script>')
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/plugins.js')
    script(src='js/masonry.js')
    script(src='js/jquery.imagesloaded.min.js')
    script(src='js/jquery.mousewheel.min.js')
    script(src='js/jquery.mCustomScrollbar.min.js')
    script(src='js/cloudinary.js')
    script(src='js/spin.js')
    script(src='js/main.js')
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
