.well(data-spy="affix")
  ul.nav.nav-list
    li(class=btn1)
      a(href=url+"store/order") Pedidos 
    li(class=btn2)
      a(href=url+"store/cart") Carritos
    li(class=btn3)
      a(href=url+"store/account") Perfil
    li.nav-header Productos     
    li(class=btn4)
      a(href=url+"store/product/add") Agregar 
    li(class=btn5)
      a(href=url+"store/product/list") Ver lista
    li.divider
    li(class=btn6)
      a(href=url+"store/shippingRules") Reglas de envio